#root {
  max-width: 1650px;
  margin: 0 auto;
  padding: 2rem;
  --animate-delay: 0.2s;
}

.mainContainer {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  column-gap: 4em;
}

.bookSection {
  min-width: 1000px;
}